body {
    background-color: rgb(19, 40, 56);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameWorld {
    position: relative;
    background-image: url(assets/sky.webp);
    background-size: 100%; 
    /* Width has to be (bitmap.width(100) * Scalefactor(48))  */
    width: 4800px;
    /* Height has to be (bitmap.height(50) * Scalefactor(48))  */
    height: 2400px;
    /* border: solid 2px #575757; */
}

/* Wrapper for gameWorld to allow scrolling with negative top values and set the gamewindow size */
#gameWorldWrapper {
    width: 1000px;
    height: 700px;
    overflow: hidden;
   /*border: solid 2px #575757;
    /* background-color: rgb(126, 176, 236); */



}

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

#player {
    --xCoord: 30;
    --yCoord: 2000;
    /* For testing */
    /* --xCoord: 3293;s
    --yCoord: 1778; */
    background: url('assets/Bob.webp');
    width: 64px;
    height: 96px;
    position: absolute;
    left: calc(var(--xCoord) * 1px);
    top: calc(var(--yCoord) * 1px);
}

/*
.goblin {
    top: 506px;
    left: 500px;
    background: url('assets/goblin.webp');
    width: 96px;
    height: 96px;
    position: absolute;
}

.goblin {
    top: 506px;
    left: 500px;
    background: url('assets/goblin.webp');
    width: 96px;
    height: 96px;
    position: absolute;
}
*/


/* Lava CSS */
/* .LTT {
    position: relative;
    overflow: hidden;
    box-shadow: -10px 8px 15px -5px #f37e02, 
    10px 8px 15px -5px #f37e02; /* Adjust shadow parameters as needed */
    /* z-index: 3; */
/* } */
/* .LTT { */
    /* width: calc(100% + 10px);
    position: ; */
/* } */


#pauseMenu {
    user-select: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background: #0000008d;
    width: 1000px;
    height: 700px;
    position: absolute;
    text-align: center;
}
#endMenu {
    user-select: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background: #0000008d;
    width: 1000px;
    height: 700px;
    position: absolute;
    text-align: center;
}

#gameTitle{
    font-family: "Sixtyfour", sans-serif;
    font-size: 40px;
    background-color: rgb(58, 58, 58);
    border-radius: 20px;
    text-shadow: 1px 1px 2px rgb(255, 174, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 255, 255);
    color: gold;
    padding:12px;
    border: solid black;
}

#pauseMenu h2 {
    font-family: "Sixtyfour", sans-serif;
    font-size: xx-large;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    margin-bottom: 40px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue {
    cursor: pointer;
    width: 220px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    border-radius: 4px;
    border-width: 5px;
    margin-bottom: 20px;
}

.continue:hover {
    background-color: rgb(58, 58, 58);
    border-color: rgb(50, 50, 50);
}

.continue:active {
    background-color: rgb(41, 41, 41);
    border-color: rgb(34, 34, 34);
}

.restart {
    cursor: pointer;
    width: 220px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    border-radius: 4px;
    border-width: 5px;
}

.restart:hover {
    background-color: rgb(58, 58, 58);
    border-color: rgb(50, 50, 50);
}

.restart:active {
    background-color: rgb(41, 41, 41);
    border-color: rgb(34, 34, 34);
}

.toMainMenu {
    margin-top: 20px;
    cursor: pointer;
    width: 220px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    border-radius: 4px;
    border-width: 5px;
}
.toMainMenu:hover {
    background-color: rgb(58, 58, 58);
    border-color: rgb(50, 50, 50);
}

.toMainMenu:active {
    background-color: rgb(41, 41, 41);
    border-color: rgb(34, 34, 34);
}

.options h1 {
    font-family: "Sixtyfour", sans-serif;
    font-size: x-large;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(201, 172, 4);
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#mainMenu {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    background: #0000008d;
    width: 1000px;
    height: 700px;
    position: absolute;
    text-align: center;
}

#mainMenuBg {
    display: absolute;
    width: 1000px;
    height: 700px;
    background-color: black;
    background-image: url("./assets/menubackground.webp");
    filter: blur(4px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mainMenuBg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.mainMenuOption {
    cursor: pointer;
    width: 220px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    border-radius: 4px;
    border-width: 5px;
    margin-bottom: 20px;
}

.mainMenuOption:hover {
    background-color: rgb(58, 58, 58);
    border-color: rgb(50, 50, 50);
}

.mainMenuOption:active {
    background-color: rgb(41, 41, 41);
    border-color: rgb(34, 34, 34);
}

.settingsMenu {
    display: none; 
    position: absolute; 
    width: 90%;
    height: 90%;
    z-index: 35; 
}

.customBackButton {
    position: absolute;
    margin: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    border-style: solid;
    border-color: rgb(44, 44, 44);
    background-color: rgb(51, 51, 51);
    border-radius: 4px;
    border-width: 5px;
    user-select: none;
    cursor: pointer;
}

.customBackButton::before {
    display: flex;
    content: '↤';
    font-size: 45px;
    justify-content: center;
    font-weight: bolder;
    color: rgb(201, 172, 4);
}

.customBackButton:hover {
    background-color: rgb(58, 58, 58);
    border-color: rgb(50, 50, 50);
}

.customBackButton:active {
    background-color: rgb(41, 41, 41);
    border-color: rgb(34, 34, 34);
}

input[type="range"] {
    height: 15px;
    background: rgb(138, 118, 5);
    border-radius: 16px;
    overflow: hidden;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: none;
    border-radius: 16px;
}

input[type="range"]::-moz-range-track {
    height: 15px;
    background: none;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: rgb(84, 84, 84);
    border-radius: 50%;
    border: 2px solid rgb(34, 34, 34);
    box-shadow: -407px 0 0 400px rgb(201, 172, 4);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    background-color: rgb(84, 84, 84);
    border-radius: 50%;
    border: 2px solid rgb(34, 34, 34);
    box-shadow: -407px 0 0 400px rgb(201, 172, 4);
}

.enableDev{
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.enableDev input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    right: -25px;
    height: 15px;
    width: 15px;
    border-style: solid;
    background-color: rgb(51, 51, 51);
    border-color: rgb(29, 29, 29);
    border-radius: 2px;
    border-width: 3px;
}

.enableDev:hover input ~ .checkmark {
    background-color: rgb(77, 77, 77);
}

.enableDev input:checked ~ .checkmark {
    background-color: rgb(29, 29, 29);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.enableDev input:checked ~ .checkmark:after {
    display: block;
}

.enableDev .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.playMenu {
    width: 93%;
    height: 90%;
    position: absolute;
    display: none;
}

#mainMenuLevelBg {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("./assets/1x1platform.webp");
    filter: blur(1px);
    background-repeat: repeat;
    background-position: center;
}

.levelContainer {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 82px;
    right: 115px;
    width: 700px;
    height: 460px;
}

.levelCard {
    margin-right: 40px;
    display: block;
    z-index: 20;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
    width: 150px;
    height: 100px;
    background-color: #333333;
    border-style: outset;
    border-color: #5f5f5fe6;
}

.levelCard img {
    position: absolute;
    max-width: 120px;
    max-height: 80px;
    right: 1px;
    top: 1px;
    /* width: 79%;
    height: 70%; */
    width: 120px;
    height: 80px;
    z-index: 5;
}

.emeralds {
    height: 98px;
    width : 30px;
    position: absolute;
    background-color: #333333;
    left: 1px;
    top: 1px;
}

.emeralds img {
    width: 31px;
    height: 27px;
}

.emeralds span {
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    left : 0px;
    top: 27px;
}

.levelName {
    height: 18px;
    width : 124px;
    position: absolute;
    left: 3px;
    bottom: 1px;
}

.levelName a {
    text-align: center;
    align-items: center;
    color:rgb(201, 172, 4);
    font-weight: 600;
    font-size: small;
}

.notSelectedOverlay {
    position: absolute;
    z-index: 10;
    background-color: rgba(33, 33, 33, 0.625);
    width: 100%;
    height: 100%;
}

.selectedOverlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.mapselect {
    z-index: 10;
    position: absolute;
    display: block;
    width: 19px;
    height: 19px;
    right: 0px;
    bottom: 7px;
    color: #e7c60e;
    font-size: 24px;
}

#HUD {
    position: fixed;
    width: 320px;
    height: 110px;
    z-index: 29;
}

.HUDcontainer {
    margin: 15px;
    background-image: url("./assets/HUD.webp");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    width: 320px;
    height: 90px;
    z-index: 32;
}

.gemCount {
    width: 25px;
    height: 20px;
    position: absolute;
    left: 139px;
    top: 72px;
    text-align: center;
}

.gemCount a {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.gemPic {
    overflow: hidden;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 115px;
    top: 69px;
}

.gemPic img {
    position: absolute;
    left: -198px;
    top: -166px;
    transform: scale(0.7);
}

.timer {
    width: 50px;
    height: 20px;
    position: absolute;
    left: 240px;
    top: 33px;
    text-align: center;
}

.timer a {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}
 
#healthbar {
    position: absolute; 
    width: 200px;
    height: 4px;
    top: 58px;
    left: 103px;
    background-color: #c92323;
    z-index: -1;
    border-right: 3px solid #c92323;
    border-radius: 7px;
    -webkit-box-shadow:0px 0px 6px 5px #df1919;
    -moz-box-shadow: 0px 0px 6px 5px #df1919;
    box-shadow: 0px 0px 6px 5px #df1919;
}

#blinkAnimation {
    display: none;
    position: relative;
    width: 200px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.749);
    border-right: 3px solid rgba(255, 255, 255, 0.749);
    border-radius: 7px;
    -webkit-box-shadow:0px 0px 6px 5px rgba(255, 255, 255, 0.749);
    -moz-box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.749);
    box-shadow: 0px 0px 6px 5px rgba(255, 255, 255, 0.749);
    z-index: -1;
}

.healthbar-bg {
    position: absolute; 
    width: 200px;
    height: 10px;
    top: 56px;
    left: 103px;
    background-color: #737373;
    z-index: -2;
}
/* Gem */
.yellow {
    background-image: url('./assets/CollectibleTileSet.webp'); 
    background-position: -48px 0px; 
    background-repeat: no-repeat; 
    z-index: 10;
}

#bobPic {
    position: absolute; 
    width: 69px;
    height: 52px;
    top: 0px;
    left: 0px;
    z-index: 35;
}

#bobPic-img {
    position: absolute; 
    width: 69px;
    height: 52px;
    top: 33px;
    left: 26px;
    background-image: url('./assets/Bob.webp');
    background-repeat: no-repeat;
    background-position: 2px -4px;
    z-index: 36;
}

#bobDead {
    display: none;
    position: absolute; 
    width: 69px;
    height: 52px;
    top: 33px;
    left: 26px;
    background-color: rgba(255, 0, 0, 0.607);
    border-radius: 0px;
    -webkit-box-shadow:0px 0px 8px 3px rgba(255, 0, 0, 0.607);
    -moz-box-shadow: 0px 0px 8px 3px rgba(255, 0, 0, 0.607);
    box-shadow: 0px 0px 8px 3px rgba(255, 0, 0, 0.607);
    z-index: 37;
}

#bobHurt {
    display: none;
    position: absolute; 
    width: 69px;
    height: 52px;
    top: 33px;
    left: 26px;
    background-color: rgba(255, 0, 0, 0.805);
    border-radius: 0px;
    -webkit-box-shadow:0px 0px 8px 3px rgba(255, 0, 0, 0.805);
    -moz-box-shadow: 0px 0px 8px 3px rgba(255, 0, 0, 0.805);
    box-shadow: 0px 0px 8px 3px rgba(255, 0, 0, 0.805);
    z-index: 35;
}

#ground {
    width: 96px;
    height: 96px;
    background: black;
    position: absolute;
    top: 302px;
    left: 200px;
}

#platform {
    width: 120px;
    height: 20px;
    background: black;
    position: absolute;
    top: 402px;
    left: 400px;
}

div {
    color: white;
}

body {
    margin: 0;
}